.container{margin-left:0;margin-top:0;width:auto;padding:20px 20px 0 20px;}.detail-page,.form-page,.search-page{padding:0;}
.page-title {display: block; float: left;  }
.page-link {float: right; display: block; font-family: '微软雅黑'; FONT-SIZE: 15px; margin-right: 10px}
.clear {clear: both;}
hr {margin-top: 10px; margin-bottom: 10px}