.container{margin-left:0;margin-top:0;width:auto;padding:20px 20px 0 20px;}.detail-page,.form-page,.search-page{padding:0;}
.page-title {display: block; float: left;  }
.page-link {float: right; display: block; font-family: '微软雅黑'; FONT-SIZE: 15px;}
.clear {clear: both;}
hr {margin-top: 10px; margin-bottom: 10px}
.remark {
	margin-left: 20px;
	color: gray;
}
.seperator {
	font-weight: bold;
	margin-left:20px;
}
.row {
	padding: 3px;
}

.form-horizontal .control-group {
	float: left; font-size:13px;
}
.well {
    min-height: 30px;
}
.well .control-group{ width:36.3%;}
.well_mode .control-group{ width:auto;}

.well .calendar{ width: 84px;}
.well_mode .calendar-time{ width:84px;}

input.input-large,
select.input-large,
textarea.input-large,
select.input-large {
    width: 300px;
    height: 22px;
    font-size: 15px;
}
.row{
    margin-left: -10px;
}
.actions-bar {
    margin-top: 0;
    margin-bottom: 0px;
    padding-left: 20px;
}
.upload1 {
    float: left;
    width: 120px;
    height: 40px;
}
.span10{width: 500px;}

.btn1 {
    color: #666;
    background-color: #EEE;
    border-color: #EEE;
    font-weight: 300;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    line-height: 10px;
    height: 10px;
    padding: 0 20px;
    margin: 0;
    display: inline-block;
    appearance: none;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    transition-property: all;
    transition-duration: .3s;
}

.btn1:visited {
    color: #666; 
}

.btn1:hover, .btn1:focus {
    background-color: #f6f6f6;
    text-decoration: none;
    outline: none; 
}

.btn1:active{
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    text-decoration: none;
    background-color: #eeeeee;
    border-color: #cfcfcf;
    color: #d4d4d4;
    transition-duration: 0s;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2); 
}

.button-primary1{
    background-color: #1B9AF7;
    border-color: #1B9AF7;
    color: #FFF; 
}

.button-primary1:visited{color: #FFF; }
.button-primary1:hover, .button-primary1:focus {
    text-decoration: none;
    background-color: #4cb0f9;
    border-color: #4cb0f9;
    color: #FFF; 
}

.button-primary1:active{
    background-color: #2798eb;
    border-color: #2798eb;
    color: #0880d7; 
}
.button-pill {
    border-radius: 200px; 
}

.button-small1 {
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    margin-left: 5px;
}
.showimgs img{
    position: fixed;
    top: 30%;
    left: 30%;
}

.efast5_btn{
    position: absolute;
    left: 45%;
    top:90px;
}
