.container{margin-left:0;margin-top:0;width:auto;padding:20px 20px 0 20px;}.detail-page,.form-page,.search-page{padding:0;}
.page-title {display: block; float: left;  }
.page-link {float: right; display: block; font-family: '微软雅黑'; font-size:15px;}
.clear {clear: both;}
hr {margin-top: 10px; margin-bottom: 10px}
.remark {
	margin-left: 10px;
	color: gray; vertical-align:middle;
}
.seperator {
	font-weight: bold;
	margin-left:20px;
}
.row {
/*	padding: 1px;*/
}

.well{margin-bottom:5px;padding:0; min-height:40px;}
.well .control-group{ width:32%; padding-left:1%;}
body{font-size:0.8em;}
input[type="text"],input[type="password"], textarea, select{padding:2px;}
.bui-select .x-icon{height:24px;}
.bui-select .x-icon{width:14px;}
hr{margin-bottom:4px;margin-top:2px;}
.button{padding:2px 12px;}
.bui-select-list .bui-list-item{padding:1px 10px;}
.bui-select-list ul{margin:4px 0px;}
td.efast5_btn{ position:absolute; left:0; bottom:0; width:100%; background:#f5f5f5; height:40px;}
#btn-search{ border:none; width:80px; height:28px; background:url(../img/search_btn.png) no-repeat 10px 5px; font-size:18px; text-indent:23px; color:#FFF; background-color:#f1a80a;}
#btn-search:hover,
#btn-search:focus,
#btn-search:active{
  color:#FFF;
  background-color:#f1bd09;
}
#exprot_list{ border:none; width:80px; height:28px; background:url(../img/search_btn.png) no-repeat -75px 5px; font-size:18px; text-indent:23px; color:#FFF; background-color:#1695ca;}
#exprot_list:hover,
#exprot_list:focus,
#exprot_list:active{
  color:#FFF;
  background-color:#29baf7;
}
#exprot_detail{ border:none; width:115px; height:28px; background:url(../img/search_btn.png) no-repeat -75px 5px; font-size:18px; text-indent:23px; color:#FFF; background-color:#1695ca;}
#exprot_detail:hover,
#exprot_detail:focus,
#exprot_detail:active{
  color:#FFF;
  background-color:#29baf7;
}
#exprot_count{ border:none; width:115px; height:28px; background:url(../img/search_btn.png) no-repeat -75px 5px; font-size:18px; text-indent:23px; color:#FFF; background-color:#1695ca;}
#exprot_count:hover,
#exprot_count:focus,
#exprot_count:active{
  color:#FFF;
  background-color:#29baf7;
}
#btn_more{ display:inline-block;width:90px; height:30px; background:url(../img/more_btn.png) no-repeat center 10px; font-size:12px; text-indent:16px; color:#727c86; float:right; margin-right:20px; cursor:pointer; line-height:30px;}
#btn_more:hover{ color:#666;}

#showbatch{
    background:url(../images/batch.png) no-repeat center 1px;
    float:right;
    margin-right:6px;
    cursor:pointer;
    width:38px;
    height:26px;
	border:1px solid #dcdddc;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#shownobatch{
    background:url(../images/nobatch.png) no-repeat center 1px;
    float:right;
    cursor:pointer;
    width:38px;
    height:26px;
	border:1px solid #dcdddc;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right:none;
	margin-left:14px;
}
#showbatch.curr,
#shownobatch.curr{ background-position:center -62px;}
#showbatch:hover,
#shownobatch:hover{ background-color:#1695ca; background-position:center -125px;}
.go_back_btn{
	background:#ff6600;
	border:1px #ff0000 solid;
}

.go_back_btn:hover{
	background:#ff6633;
}

.form-horizontal .control-group {
	float: left;
}
.well {
    min-height: 30px;
}

.customfield{ width:32px; height:32px; border:none; background:url(../img/customfield.png) no-repeat left top; position:absolute; top:0; right:0; z-index:1000;}
.customfield:hover{ background-position:left bottom;}

.frontool{position: fixed;bottom: 0px;left:-100%;width:99%; padding-left:1%; background-color:#FFF; border-top:2px solid #1695ca; z-index:1000; height:37px;}
.frontool_center{ width:100%; padding-left:0; text-align:center;}
.frontool .li_btns{ margin:4px 0;}
.frontool .front_close{ position:absolute; width:10px; height:38px; top:-2px; right:0; line-height:62px; border-right:1px solid #FFF; background:url(../img/close_tools.png) no-repeat 3px center;background-color:#1695ca; cursor:pointer; text-indent:-50px; overflow:hidden;}
.frontool .close_02{ background-position:-43px center;}
              
.control-label select {
	width: 82px;
	margin-top: 2px;
}

.remindpoint{ display:inline-block; width:7px; height:7px; border-radius:50%; background:#f6b63a; position: absolute; top: 11px; right: 10px;}

        .ww-light {
        overflow: hidden;
    }

    .ww-block {
        display: block;
        margin-top: 4px;
    }

    .ww-inline {
        display: inline-block;
        vertical-align: text-bottom;
    }

    .ww-light a {
        background:url("../img/TB_wangwang.gif") -78px -2px;
        text-decoration: none!important;
        width: 30px;
        height: 20px;
        zoom: 1;
    }

    .ww-light a span {
        display: none;
    }








